﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="CSS/my_css.css" rel="stylesheet" />
    <meta name=" viewport" content=" width = device - width" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a> 0123.889.0123 (HN)</a>
                <a> 0139.233.3555 (HCM)</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng kí</button>
                <button>Đăng Nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div> 
    <div class="main-content">
        @RenderBody()
    </div>
</body>
</html>